.main-nav {
  display: flex;
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  top: -50px;
  right: 10px;
}

.main-nav__wrapper {
  margin: 0 auto;
}

.main-nav__list {
  @include list-reset;
}

.main-nav__item {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;

  a {
    font-weight: 700;
    font-size: 18px;
    color: $white-color;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 630px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__item {
    padding-right: 0;

    a {
      font-weight: 400;
      text-transform: none;
    }
  }
}
