.page-footer {
  // text-align: center;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-footer__logo {
  padding-top: 40px;
  padding-bottom: 41px;
}

.page-footer__social {
  @include list-reset;
  // padding: 0 74px 41px 74px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 175px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.social__item {
  width: 48px;
  height: 48px;

  svg {
    fill: $pink-color;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 41px;
  font-size: 14px;

  .copyright__link {
    width: 27px;
    height: 34px;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .page-footer__social {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .page-footer__copyright {
    padding: 0;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    justify-content: space-between;
  }
}
