.page-main__header {
    font-size: 24px;
    line-height: 33px;
    font-weight: 300;
    color: #FFFFFF;

    margin: 0;
    padding: 102px 74px 84px 74px;    

    text-align: center;

    background: url("../../img/bg-back-mobile@1x.jpg") no-repeat;
}
